.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.list-wrapper{
  margin-top: 20px;
  background-color: #b2c9ff;
  padding: 20px;
  border-radius: 10px;
  line-height: 25px;
  width: 250px;
}

body{
  background-color: #be99ff;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#inputfield{
  border-color: #c9dcff;
  padding: 7px;
  width: 260px;
  background-color: #c9dcff;
  border-radius: 7px;
}

#button {
  background-color: #51308a;
  border: none;
  color: #edeec9;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px;
  border-radius: 5px;
}